body
{
    margin: 0;
    padding: 0;
    clear: both;
	font-family: "Lucida Console", Monaco, monospace; 
    color: white;
    background-color: #474747;
    text-align: center;
    font-size: 1.5em;
}

html 
{
    scroll-behavior: smooth;
}


/*Header*/
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 6em;
    width: 99.9vw;
    z-index: 7;
    text-align: center;
    background-color: #212121;
    border-bottom: solid .1em white;
    border-right: solid .1em white;
}

h1
{
    width: 100%;
    font-size: 2em;
    margin: 1em;
    margin-left: 6.5em;
}

.blink
{
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blink 
{
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    51%  {opacity: 1;}
    100% {opacity: 1;}
}

.split /*Split divs*/
{
    display: flex;
    justify-content: space-between;
}


/*Form*/
.formContainer
{
    position: fixed;
    left:0;
    z-index: 9;
    background-color: #212121;
    height: 100%;
    padding-left: .5em;
    padding-right: .5em;
    top: 0;
    border-right: solid .1em white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5em;
}

.form
{
    z-index: 10;
}

input, select
{
    text-align: center;
    width: 3em;
    font-size: .7em;
    height: 2em;
    margin-bottom: 2em;
}

select
{
    width: 4.5em;
    text-align: center;
}

input[type="button"]
{
    background-color: white;
    padding: 1em;
    width: 10em;
    height: 4em;
}

option
{
    height: 3em;
    margin: 3em;
    padding: 3em;
}

#customChars
{
    display: none;
}

input[type="checkbox"]
{
    position: relative;
    top: 8px;
}

.input_with_appended_unit input 
{
    padding-right: 25px;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0.75em;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button /*Make spin button always visible*/
{
    opacity: 1;
}

.input_with_appended_unit input::-webkit-inner-spin-button, 
.input_with_appended_unit input::-webkit-outer-spin-button 
{ 
    position: relative;
    right: -20px;
    cursor: pointer;
    height: 1.75em;
}
.input_with_appended_unit span /*% in progress*/
{
    text-align: center;
    position: relative;
    left: -55px;
    font-size: .8em;
    color: black;
}

#slider
{
    width: 100%;
    margin-bottom: 0;
}

/*Result div*/
#result
{
    margin-top: 6em;
    margin-left: 14em;
    margin-right: .5em;
    margin-bottom: 10em;
    text-align: left;
    z-index: 5;
    width:100%;
    
}

#result span
{
    margin-bottom: 2em;
    margin-right: 1em;
    white-space:nowrap;
    font-size: 2em;
}


/*Footer*/
footer
{
    width:100%;
    position: fixed;
    bottom:0;
    z-index: 10;

    text-align: center;
    font-size: 12px;
}
footer, footer a:visited, footer a:link
{
    color: gray;
}


@media only screen and (max-width: 1260px) 
{
    body
    {
        font-size: 1.2em;
    }


    h1
    {
        width: 100%;
        font-size: 2em;
        margin: 1em;
        margin-left: 6em;
    }


    .formContainer
    {
        width: 10em;
    }

    .input_with_appended_unit input 
    {
        padding-right: 0;
    }
    .input_with_appended_unit input::-webkit-inner-spin-button, 
    .input_with_appended_unit input::-webkit-outer-spin-button 
    { 
        right: 0;
    }
    .input_with_appended_unit span /*% in progress*/
    {
        display: none;
    }


    #result
    {
        margin-left: 12em;
        margin-bottom: 7.5em;  
    }

    #result span
    {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 860px) /*mobile*/
{
    body
    {
        font-size: 1em;
    }

    /*Header*/
    header
    {
        position: absolute;
        height: 6em;
        width: 100vw;
        border-right: none;
        margin:0;
        padding:0;
        clear: both;
        z-index: 10;
    }

    h1
    {
        font-size: 1.2em;
        margin: .3em;
    }


    /*Form*/
    .formContainer
    {
        position: absolute;
        height: 25em;
        width: 100vw;
        border:none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0;
        padding: 0;
        margin-top:6em;

        border-bottom: solid .1em white;
        z-index: 5;
    }

    .form
    {
        width: 55%;
    }

    input[type="checkbox"]
    {
        position: relative;
        top: 5px;
    }


    /*Result div*/
    #result
    {
        text-align: left;
        width:100%;
        margin:0;
        margin-top: 32em;
        padding-left: 1em;
        z-index: 0;
        margin-bottom: 5em;
    }

    #result span
    {
        margin: 0;
        white-space:nowrap;
        font-size: 1em;
    }
}